<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$customer.name}},</h1>
            <p>Para iniciar sesión cuando visite nuestro sitio haga click en <a href="{{store url="customer/account/"}}">Iniciar Sesión</a> o <a href="{{store url="customer/account/"}}">Mi Cuenta</a> en la parte superior de cada página y después introduza su dirección de correo electrónico y contraseña.</p>
            <p>Cuando inicie sesión, podrá realizar lo siguiente:</p>
            <ul>
                <li>Hacer pedidos más rápidamente</li>
                <li>Revisar el estado de sus órdenes</li>
                <li>Ver órdenes previas</li>
                <li>Hacer cambios a la información de su cuenta</li>
                <li>Cambiar su contraseña</li>
                <li>Almacenar direcciones alternas</li>
            </ul>
            <p>
                Si tiene cualquier pregunta, contáctenos en
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} o por teléfono al número <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
